<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="css/list.css" />
		<title></title>
		<script src="../../static/Require.mini.js" data-main="../../static/requireConfig.js" type="text/javascript" charset="utf-8"></script>
		<script src="./listMain.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body>
		<div id="head"></div>
		<div id="main">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>编号</th>
						<th>姓名</th>
						<th>性别</th>
						<th>年龄</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>玲玲</td>
						<td>女</td>
						<td>20</td>
					</tr>
					<tr>
						<td>2</td>
						<td>发友</td>
						<td>男</td>
						<td>25</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>

</html>